.landing-background {
  background: url("/images/hamilton.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.landing-background .title {
  font-family: 'Staatliches', sans-serif;
}